html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #e41a78;
  text-decoration: none;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
  max-width: 300px;
}
